.yellow {
  color: #ede230;
}

.bold {
  font-weight: bold;
}

.ttal {
  text-align: left;
}

.zoomOut {
  -webkit-transform: scale3d(7, 7, 7);
          transform: scale3d(7, 7, 7);
}

.zoomIn {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.transp {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

body {
  font-family: 'Droid Sans', sans-serif !important;
  font-size: 18px;
  background-image: url(images/space-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body #header {
  text-align: center;
  padding-top: 30px;
}
body #header img {
  width: 500px;
}
body form {
  color: #ede230;
  padding-top: 30px;
  font-size: 32px;
}
body form .column {
  text-align: center;
}
body form .submit-button {
  text-align: center;
  margin-top: 60px;
}
body form .submit-button input {
  background-color: transparent;
  border: 3px solid yellow;
  padding: 20px;
  font-size: 32px;
}
body #introduction {
  position: relative;
  padding: 10px;
  -webkit-perspective: 175px;
          perspective: 175px;
  transition: all 2s cubic-bezier(0.08, 1.06, 0.59, 0.98);
}
body #introduction .text {
  padding: 20px;
  position: absolute;
  color: #ede230;
  font-weight: bold;
  -webkit-transform: rotateX(20deg);
          transform: rotateX(20deg);
}
