@import "classes";

body{

	font-family: 'Droid Sans', sans-serif !important; font-size: 18px; background-image: url(images/space-background.jpg);background-size: cover;background-repeat: no-repeat;background-attachment: fixed;
	#header{
		text-align: center; padding-top: 60px;
		img{width: 500px;}
		.restart{color: $blue; text-shadow: 1px 1px 10px $ltBlue;}
	}
	form{
		color: $yellow; padding-top: 60px; font-size: 32px;
		.column{
			text-align: center;
			label{color: $blue; text-shadow: 1px 1px 10px $ltBlue;}
		}
		.submit-button{
			text-align: center; margin-top: 60px;
			input{ background-color: transparent;border: 3px solid $blue; box-shadow: 1px 1px 10px #59B6EF; padding: 20px;font-size: 32px;}
		}
	}
	#introduction{
		position: relative;padding: 10px;perspective: 175px; -webkit-transition: all 1s cubic-bezier(.08,1.06,.59,.98); transition: all 2s cubic-bezier(.08,1.06,.59,.98); 
		.text{
			padding: 20px;position: absolute; color: $yellow;font-weight: bold;transform: rotateX(20deg); 
		}
	} 
}