body {
  background-image: url(images/space-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body #header {
  text-align: center;
  padding-top: 30px;
}
body #header img {
  width: 500px;
}
body form {
  color: #ede230;
}
body .intro {
  position: relative;
  padding: 10px;
  perspective: 175px;
}
body .intro .text {
  padding: 20px;
  position: absolute;
  color: #ede230;
  font-weight: bold;
  transform: rotateX(20deg);
}
